.header {
    @media screen and (max-width: 575px) {
        padding: 0 25px !important;
    }
    .navbar {
        margin: 0;
        background-color: white;
    }

    .navbar-container {
        padding: 0;
    }

    .logo {
        margin: 0;
    }

    .login-btn {
        padding: 6px 30px 10px 30px;
        border-radius: 25px;
        border: 1px solid #3B3C98;
        background: white;

        .login-text {
            font-size: 16px;
            vertical-align: middle;
            font-weight: 400;
            color: #3B3C98;
        }
    }
    .login-btn:hover {
        background-color: #3B3C98;

        .login-text {
            color: white;
        }
    }

    .start-free-btn {
        padding: 6px 30px 10px 30px;
        border-radius: 25px;
        background: #3B3C98;

        .start-free-text {
            font-size: 16px;
            vertical-align: middle;
            font-weight: 400;
            color: #F8F9FB;
        }
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    @media screen and (max-width: 992px) {
        .login-btn {
            width: 100%;
        }

        .start-free-btn {
            width: 100%;
        }
    }

    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-collapse {
            justify-content: flex-end;
        }
    }

}
